.textarea{
    font-size: 18px;
    width: 100%;
    resize: vertical;
}

.reporttitle {
    font-size: 25px;
    color: rebeccapurple;
}

.button {
    font-size: 13px;
    margin: 1px;
    margin-bottom: 5px;
    border: solid rgb(27, 12, 12);
    background-color: rgb(48, 187, 145);
    text-decoration: none;
    color: antiquewhite;
    float:block;
}

.addbutton {
    text-align:center;
    display: block;
    margin: 0 0 0 auto;
    width:100%;
    cursor:pointer
}

.postbutton {
    text-align:center;
    font-size: 18px;
    width: 100%;
    background-color: #6da3f3;
    display: block;
    margin: auto;
    cursor:pointer
}

.input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.submit input {
    margin: 5px;
    padding: 2px;
    border: solid rgb(27, 12, 12);
    background-color: rgb(48, 187, 145);
    text-decoration: none;
    color: antiquewhite;
    float:block;
}

.getbutton {
    margin-left:22px;
    margin-top: 5px;
}


.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.report_form {
    max-width: 40%;
    min-width: 100px;
    margin:10px;
    padding:10px;
    flex-grow:2;
}

.show_share {
    max-width:40%;
    min-width: 100px;
    margin:10px;
    padding:10px;
}

.addbutton {
    margin-top:10px;
    margin-bottom: 5px;
}

.timeblock {
    display:flex;
}

@media screen and (max-width: 400px) {
    .show_share { max-width: 80%; }
    .report_form { max-width: 80%; }
 }